@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* rarity border colors */
.border-common {
  @apply border-l-8 border-[#9b9b9b];
}

.border-uncommon {
  @apply border-l-8 border-[#57ca47];
}

.border-rare {
  @apply border-l-8 border-[#0070DD];
}

.border-epic {
  @apply border-l-8 border-[#986fc5];
}

.border-legendary {
  @apply border-l-8 border-[#FFD700];
}

.border-notorious {
  @apply border-l-8 border-[#d45d9b];
}

.border-infamous {
  @apply border-l-8 border-[#FF4500];
}

/* rarity text colors */

.text-common {
  @apply text-[#9b9b9b];
}

.text-uncommon {
  @apply text-[#57ca47];
}

.text-rare {
  @apply text-[#0070DD];
}

.text-epic {
  @apply text-[#986fc5];
}

.text-legendary {
  @apply text-[#FFD700];
}

.text-notorious {
  @apply text-[#d45d9b];
}

.text-infamous {
  @apply text-[#FF4500];
}

/* bg brand colors */
.bg-brand-purple {
  @apply bg-[#C04CFD];
}

.bg-brand-pink {
  @apply bg-[#fc6dab];
}

.bg-brand-yellow {
  @apply bg-[#f9cf30];
}

.bg-brand-blue {
  @apply bg-[#145c9e];
}

.bg-brand-azure {
  @apply bg-[#5bc0eb];
}

/* bg augment colors */
.augment-blue {
  @apply border-l-8 border-blue-500 text-blue-500;
}

.augment-green {
  @apply border-l-8 border-green-500 text-green-500;
}

.augment-purple {
  @apply border-l-8 border-purple-500 text-purple-500;
}

.home-link-box {
  @apply border border-black rounded-lg p-8;
}
